<h1 data-i18n="about_title">{{ _("about_title") }}</h1>
<p data-i18n="about_description">{{ _("about_description") }}</p>
<p>GitHub: <a href="https://github.com/Babadzaki4an/Godot-PCK-Compressor" target="_blank">Babadzaki4an/Godot-PCK-Compressor</a></p>
<!-- <p class="text-body"  data-i18n="about_version">{{ _("about_version") }}</p> -->

<div class="about-license">
    <h3 data-i18n="about_license">Лицензия</h3>
    <p class="text-body" data-i18n="about_license_name">GPLv3 (GNU General Public License v3)</p>
</div>